* {
    margin:0;
    padding:0;

}
.container {
    text-align: center;
}
.nav {
    display: inline-block;
    margin: 100px 0;
}
.nav ul {
    
    overflow: hidden;

}
ul {
    list-style: none;
}
ul > li {

    float: left;
    text-align: center;
    cursor: pointer;
}
ul > li > a {
    text-decoration: none;
    display: block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
}
ul > li >a:hover{
   font-size: 24px;
   transition: .3s;
   color: black;
}
ul > li:nth-child(1) > a {
    background: skyblue;
    
}
ul > li:nth-child(2) > a {
    background : darkorange;
}
ul > li:nth-child(3) > a {
    background: limegreen;
}
ul > li:nth-child(4) > a {
    background: Khaki;
}
ul > li:nth-child(5) > a {
    background: SlateGray;
}
.nav >li >span {
    display: block;
    float: left;
    position: relative;
    top: 20px;
    left: 18px;
    z-index: 1;
}  
