body,html {
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
}
ul {
    list-style: none;
    overflow: hidden;
    
}
ul > li {
    float: left;
    text-align: center;
}
ul > li > a {
    text-decoration: none;
    display: inline-block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
}
ul > li >a:hover{
   font-size: 24px;
   transition: .3s;
}
ul > li:nth-child(1) > a {
    background: skyblue;
    position: relative;
}
ul > li:nth-child(2) > a {
    background : darkorange;
}
ul > li:nth-child(3) > a {
    background: limegreen;
}
ul > li:nth-child(4) > a {
    background: Khaki;
}
ul > li:nth-child(5) > a {
    background: SlateGray;
}
ul > li:nth-child(1) > span {
    position: relative;
    top: 0px;
    left: 30px;
    z-index: 1;
}
ul > li:nth-child(2) > span {
    position: relative;
    top: 0px;
    left: 30px;
    z-index: 1;
}
ul > li:nth-child(3) > span {
    position: relative;
    top: 0px;
    left: 30px;
    z-index: 1;
}
ul > li:nth-child(4) > span {
    position: relative;
    top: 0px;
    left: 30px;
    z-index: 1;
}
ul > li:nth-child(5) > span {
    position: relative;
    top: 0px;
    left: 30px;
    z-index: 1;
}